/.config/coc/

/.config/karabiner/*
!/.config/karabiner/karabiner.json

/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fishfile

/.config/fisher/

/.config/configstore/

/.config/gh/

/.config/anyenv/
