.DS_Store

/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/site-lisp/*

/.config/coc/

/.config/karabiner/*
!/.config/karabiner/karabiner.json

/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fishfile

/.config/fisher/

/.config/configstore/

/.config/gh/

/.config/anyenv/

/.config/gatsby/

/.config/htop/

/.config/vue/

/.config/wireshark/

/.log/
