[user]
	name = syuni
	email = motikix@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	quotepath = false
	autocrlf = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
