export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xset r rate 200 30
fcitx-autostart &
libinput-gestures &
xautolock -time 5 -locker 'i3lock-fancy' -notify 10 -notifier 'notify-send -t 5000 -i gtk-dialog-info \"Locking in 10 seconds\"' -detectsleep &
